{% extends 'base.html' %}

{% block title %} {{article.title}}{% endblock %}

{% block content %}
    <h1>{{article.title}}</h1>
    <h2>Author is {{article.author}}</h2>
    <p>Publication date of this article is {{article.pub_date}}</p>
    <p>Cathegory of the article is {{article.cathegory}}</p>
    <p>This article has {{article.views}} views</p>
    {% if article.is_published %}
        <p>Article is published</p>
    {% else %}
        <p>Article is not published yet</p>
    {% endif %}  
{% endblock %}